@{
    ViewData["Title"] = "Associates / Links";
}

<!--Awasome Icon Pack-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="dashboard-separator">
    <h1 class="dashboard-separator-title text-center">Associates / Providers</h1>
</div>

<h1 class="text-center link-category">Social networks</h1>

<div class="box links">
    <div class="container">
        <div class="row cards">
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Facebook</h4>
                    </div>
                    <a href="https://www.facebook.com/" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-tripadvisor fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Trip Advisor</h4>
                    </div>
                    <a href="https://www.tripadvisor.com/" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Gmail</h4>
                    </div>
                    <a href="https://mail.google.com/" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Instagram</h4>
                    </div>
                    <div class="text">
                        <span>CONFIGURATION REQUIRED</span>
                    </div>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Twitter</h4>
                    </div>
                    <div class="text">
                        <span>CONFIGURATION REQUIRED</span>
                    </div>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>Google</h4>
                    </div>
                    <div class="text">
                        <span>CONFIGURATION REQUIRED</span>
                    </div>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <!--END OF BOX-->
        </div>
    </div>
</div>

<h1 class="text-center link-category" style="margin-top:50px;">Service Providers</h1>

<div class="box links">
    <div class="container">
        <div class="row cards">
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="card-img" src="~/img/providers/digitalocean.jpg" />
                    <div class="title">
                        <h4>Digital Ocean</h4>
                    </div>
                    <a href="https://www.digitalocean.com/" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="card-img" src="~/img/providers/agentcash.jpg" />
                    <div class="title">
                        <h4>Agent Cash</h4>
                    </div>
                    <a href="https://www.agentcash.com/" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="card-img" src="~/img/providers/mailgun.svg" />
                    <div class="title">
                        <h4>Mailgun</h4>
                    </div>
                    <a href="https://www.mailgun.com/" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="card-img" src="~/img/providers/googleads.jpg" />
                    <div class="title">
                        <h4>Google Ads</h4>
                    </div>
                    <a href="https://ads.google.com/" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="card-img" src="~/img/providers/googleanalytics.jpg" />
                    <div class="title">
                        <h4>Google Analytics</h4>
                    </div>
                    <a href="https://analytics.google.com/" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="card-img" src="~/img/providers/googletagmanager.jpg" />
                    <div class="title">
                        <h4>Google Tag Manager</h4>
                    </div>
                    <a href="https://tagmanager.google.com/" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="card-img" src="~/img/providers/googledrive.jpg" />
                    <div class="title">
                        <h4>Google Drive</h4>
                    </div>
                    <a href="https://drive.google.com/" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="card-img" src="~/img/providers/googlepagespeedinsights.jpg" />
                    <div class="title">
                        <h4>Google Page Speed Insights</h4>
                    </div>
                    <a href="https://developers.google.com/speed/pagespeed/insights/?hl=hr" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
            <!--BOX-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <img class="card-img" src="~/img/providers/godaddy.jpg" />
                    <div class="title">
                        <h4>Go Daddy</h4>
                    </div>
                    <a href="https://uk.godaddy.com/" target="_blank" class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-world"></i></span>
                        <span class="btn-inner--text">Open in a new tab</span>
                    </a>
                </div>
            </div>
            <!--END OF BOX-->
        </div>
    </div>
</div>