@{
    ViewData["Title"] = "Cookies";
}
<style>
    th {
        padding: 20px !important;
    }

    td {
        padding: 20px !important;
    }
</style>
<div class="dashboard-separator">
    <h1 class="dashboard-separator-title text-center">Cookies</h1>
</div>

<div class="page-cookies">
    <div class="page-cookies-content">
        <div class="page-cookies-heading">
            <div class="page-cookies-header"></div>
            <h1>COOKIES</h1>
        </div>
        <div class="page-cookies-content-block">
            <h3>WHAT ARE COOKIES?</h3>
            <p>
                As is common practice with almost all professional websites this site uses cookies, which are tiny files that
                are downloaded to your computer, to improve your experience.This page describes what information they gather,
                how we use it and why we sometimes need to store these cookies.We will also share how you can prevent these
                cookies from being stored however this may downgrade or ‘break’ certain elements of the sites functionality.
            </p>
        </div>
        <div class="page-cookies-content-block">
            <h3>HOW WE USE COOKIES</h3>
            <p>
                We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry
                standard options for disabling cookies without completely disabling the functionality and features they add to
                this site.It is recommended that you leave on all cookies if you are not sure whether you need them or not in
                case they are used to provide a service that you use.
            </p>
        </div>
        <div class="page-cookies-content-block">
            <h3>DISABLING COOKIES</h3>
            <p>
                You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for
                how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites
                that you visit.Disabling cookies will usually result in also disabling certain functionality and features of
                the this site.Therefore it is recommended that you do not disable cookies.
            </p>
        </div>
        <div class="page-cookies-content-block">
            <h3>THE COOKIES WE SET</h3>
            <p>
                In some cases along with necessary cookies we also use cookies provided by trusted third parties. The
                following section details which third party cookies you might encounter through this site.
            </p>
        </div>
        <div class="page-cookies-content-block">
            <h3>GOOGLE ANALYTICS</h3>
            <p>
                This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web
                for helping us to understand how you use the site and ways that we can improve your experience.These cookies
                may track things such as how long you spend on the site and the pages that you visit so we can continue to
                produce engaging content.For more information on Google Analytics cookies, see the official Google Analytics
                page.
            </p>
        </div>
        <div class="page-cookies-content-block">
            <h3>FACEBOOK PIXEL</h3>
            <p>
                We also use Facebook Pixel on this site. This cookie is placed by Facebook. It enables Dubrovnik Tours to
                measure, optimize and build audiences for advertising campaigns served on Facebook.In particular it enables
                Dubrovnik Tours to see how our users move between devices when accessing the Dubrovnik Tours web site and
                Facebook, to ensure that Dubrovnik Tours Facebook advertising is seen by our users most likely to be
                interested in such advertising by analysing which content a user has viewed and interacted with on the
                Dubrovnik Tours web site.
            </p>
        </div>
        <div class="page-cookies-content-block">
            <h3>MORE INFORMATION</h3>
            <p>
                Hopefully that has clarified things for you and as was previously mentioned if there is something that you
                aren’t sure whether you need or not it’s usually safer to leave cookies enabled in case it does interact with
                one of the features you use on our site.However if you are still looking for more information then you can
                contact us through our contact page.
            </p>
        </div>
        <div class="page-cookies-content-block">
            <h3>DETAILED LIST OF COOKIES THAT WE USE:</h3>
            <table class="table-responsive">
                <thead class="thead-light" style="padding:10px;">
                    <tr scope="row">
                        <th scope="col">Cookie Name/Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Domain</th>
                        <th scope="col">Description</th>
                        <th scope="col">Duration/Expires</th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row">
                        <td>.Consent</td>
                        <td>First-party / Essential</td>
                        <td>dubrovniktours.tours</td>
                        <td>Stores the user's cookie consent state for the current domain.</td>
                        <td>1 year</td>
                    </tr>
                    <tr scope="row">
                        <td>.CanTrack</td>
                        <td>First-party / Essential</td>
                        <td>dubrovniktours.tours</td>
                        <td>Stores the user's cookie consent state for the current domain.</td>
                        <td>1 year</td>
                    </tr>
                    <tr scope="row">
                        <td>_ga</td>
                        <td>FirstParty / Analytics</td>
                        <td>google.com</td>
                        <td>Cookie used in Universal Analytics to store visitor identification</td>
                        <td>End of session</td>
                    </tr>
                    <tr scope="row">
                        <td>_gat</td>
                        <td>FirstParty / Analytics</td>
                        <td>google.com</td>
                        <td>Cookie used in Universal Analytics to be able to store user journey</td>
                        <td>1 day</td>
                    </tr>
                    <tr scope="row">
                        <td>_gat</td>
                        <td>FirstParty / Analytics</td>
                        <td>google.com</td>
                        <td>Magento cookie, which stores frontend form key for form validations</td>
                        <td>End of session</td>
                    </tr>
                    <tr scope="row">
                        <td>1P_JAR</td>
                        <td>FirstParty / Analytics</td>
                        <td>google.com</td>
                        <td>Google advertising cookie used for user tracking and ad targeting purposes.</td>
                        <td>1 year</td>
                    </tr>
                    <tr scope="row">
                        <td>_fbp</td>
                        <td>FirstParty / Analytics</td>
                        <td>facebook.com</td>
                        <td>
                            Used by Facebook to deliver a series of advertisement products such as real time bidding from third
                            party advertisers.
                        </td>
                        <td>3 months</td>
                    </tr>
                    <tr scope="row">
                        <td>_fr</td>
                        <td>FirstParty / Analytics</td>
                        <td>facebook.com</td>
                        <td>
                            Used by Facebook to deliver a series of advertisement products such as real time bidding from third
                            party advertisers.
                        </td>
                        <td>3 months</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>