@{
    ViewData["Title"] = "Error";
}

<div class="javascript-disabled">
    <h1 class="warning">ERROR!</h1>
    <h3 class="text">An error has occurred and the administrators have been notified. Please try again later.</h3>
</div>