$white: white;
$black: #000000;
$primary: $white;
$secondary: #18b0d0;
$secondaryHover: #18b1d0b4;
$secondaryDark: #08323a;
$active-tab: #18b1d0b4;
$text-gray: #555555;
$text-dark: #333333;
$text-light: #b9b9b9;
$text-secondary: #1868b385;
$border: lightgray;
$toggler-border: $border;
$navbar-bg: #001820;
$navbar-border: whitesmoke;
$subnav-bg: $black;
$navbar-fc: $white;
$navbar-menu-active-link-fc: $text-light;
$footer-bg: $navbar-bg;
$footer-fc: $white;
