@{
    ViewData["Title"] = "TourBookings";
}

<div class="dashboard-separator">
    <h1 class="dashboard-separator-title text-center">Tour Bookings</h1>
</div>

<div class="container-fluid text-center">
    <i class="icon icon-shape fa fa-warning text-danger" style="transform:scale(3.0)"></i>
    <h1 class="text-danger">THIS SECTION IS UNDER DEVELOPMENT</h1>
</div>

@*<div class="table-responsive">
        <table class="table align-items-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col">APP NAME</th>
                    <th scope="col">TOUR</th>
                    <th scope="col">BOOKING DATE</th>
                    <th scope="col">DATE SCHEDULED</th>
                    <th scope="col">TIME SCHEDULED</th>
                    <th scope="col">CUSTOMER</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">NUMBER OF PERSONS</th>
                    <th scope="col">NUMBER OF CHILDRENS</th>
                    <th scope="col">NUMBER OF BABIES</th>
                    <th scope="col">PICK UP POINT</th>
                    <th scope="col">ADDITIONAL INFO</th>
                    <th scope="col">TOTAL PRICE</th>
                    <th scope="col">FULLY PAID</th>
                    <th scope="col">REQUIRED</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">PROGRESS</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">Dubrovnik Tours</span>
                            </div>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">Game of Thrones Walking Tour</span>
                            </div>
                        </div>
                    </th>
                    <td>
                        2020-03-30
                    </td>
                    <td>
                        2020-07-30
                    </td>
                    <td>
                        14:00
                    </td>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">John Doe</span>
                            </div>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">john.doe@mail.com</span>
                            </div>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">0</span>
                            </div>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">0</span>
                            </div>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">0</span>
                            </div>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">None</span>
                            </div>
                        </div>
                    </th>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="mb-0 text-sm">No additional message</span>
                            </div>
                        </div>
                    </th>
                    <td>
                        220,00 HRK
                    </td>
                    <td>
                        <span class="badge badge-dot mr-4">
                            <i class="bg-success"></i> True
                        </span>
                    </td>
                    <td>
                        0,00 HRK
                    </td>
                    <td>
                        <span class="badge badge-dot mr-4">
                            <i class="bg-warning"></i> Pending
                        </span>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="mr-2">80%</span>
                            <div>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>*@