@{
    ViewData["Title"] = "Tours";
}
<div class="dashboard-separator">
    <h1 class="dashboard-separator-title text-center">Tours</h1>
</div>
<!-- Tour Cards -->
<section id="tour" class="pb-5">
    <div class="container tour">
        <div class="row">
            <!-- Tour Card -->
            <div class="col-xs-12 col-sm-6 col-md-4 tour">
                <div class="card">
                    <div class="card-body text-center">
                        <p><img class="card-img" src="/img/theme/tour-1.jpg" alt="card image"></p>
                        <h3 class="card-title">Dubrovnik Old Town</h3>
                        <div class="card-footer">
                            <button class="btn btn-icon btn-3 text-danger" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                                <span class="btn-inner--text">DELETE</span>
                            </button>
                            <button class="btn btn-icon btn-3 text-success" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-zoom-split-in"></i></span>
                                <span class="btn-inner--text">EDIT</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Tour Card -->
            <!-- Tour Card -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <p><img class="card-img" src="/img/theme/tour-2.jpg" alt="card image"></p>
                        <h3 class="card-title">Game Of Thrones - Walking Tour</h3>
                        <div class="card-footer">
                            <button class="btn btn-icon btn-3 text-danger" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                                <span class="btn-inner--text">DELETE</span>
                            </button>
                            <button class="btn btn-icon btn-3 text-success" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-zoom-split-in"></i></span>
                                <span class="btn-inner--text">EDIT</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Tour Card -->
            <!-- Tour Card -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <p><img class="card-img" src="/img/theme/tour-3.jpg" alt="card image"></p>
                        <h3 class="card-title">Panoramic Tour</h3>
                        <div class="card-footer">
                            <button class="btn btn-icon btn-3 text-danger" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
                                <span class="btn-inner--text">DELETE</span>
                            </button>
                            <button class="btn btn-icon btn-3 text-success" type="button">
                                <span class="btn-inner--icon"><i class="ni ni-zoom-split-in"></i></span>
                                <span class="btn-inner--text">EDIT</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Tour Card -->
        </div>
    </div>
</section>
<!-- Tour Cards -->