@{ ViewData["Title"] = "Dashboard"; }

<div class="dashboard-separator">
    <h1 class="dashboard-separator-title text-center">Dashboard</h1>
</div>

<!--Awasome Icon Pack-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Card stats -->
<div class="row dashboard">
    <h2 class="container-fluid text-center statistics-category">WEEKLY STATISTICS</h2>
    <!--MONTHLY STATISTICS CARDS CONTAINER-->
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">SUCCESSFUL TOUR BOOKINGS THIS WEEK</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-green">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last week</span>
                </p>
            </div>
        </div>
    </div>
    <!--END OF STATISTICS CARD ELEMENT-->
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">UNSUCCESSFUL TOUR BOOKINGS THIS WEEK</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-danger">
                            <i class="fa fa-times-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last week</span>
                </p>
            </div>
        </div>
    </div>
    <!--END OF STATISTICS CARD ELEMENT-->
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">SUCCESSFUL TRANSFER BOOKINGS THIS WEEK</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-green">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last week</span>
                </p>
            </div>
        </div>
    </div>
    <!--END OF STATISTICS CARD ELEMENT-->
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">UNSUCCESSFUL TRANSFER THIS WEEK</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-danger">
                            <i class="fa fa-times-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last week</span>
                </p>
            </div>
        </div>
        <!--END OF STATISTICS CARD ELEMENT-->
    </div>
    <!--END OF WEEKLY STATISTICS CARDS CONTAINER-->
    <h2 class="container-fluid text-center statistics-category">MONTHLY STATISTICS</h2>
    <!--MONTHLY STATISTICS CARDS CONTAINER-->
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">SUCCESSFUL TOUR BOOKINGS THIS MONTH</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-green">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last month</span>
                </p>
            </div>
        </div>
    </div>
    <!--END OF STATISTICS CARD ELEMENT-->
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">UNSUCCESSFUL TOUR BOOKINGS THIS MONTH</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-danger">
                            <i class="fa fa-times-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last month</span>
                </p>
            </div>
        </div>
    </div>
    <!--END OF STATISTICS CARD ELEMENT-->
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">SUCCESSFUL TRANSFER BOOKINGS THIS MONTH</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-green">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last month</span>
                </p>
            </div>
        </div>
    </div>
    <!--END OF STATISTICS CARD ELEMENT-->
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">UNSUCCESSFUL TRANSFER THIS MONTH</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-danger">
                            <i class="fa fa-times-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last month</span>
                </p>
            </div>
        </div>
        <!--END OF STATISTICS CARD ELEMENT-->
    </div>
    <!--END OF MONTHLY STATISTICS CARDS CONTAINER-->
    <!--YEARLY STATISTICS CARDS CONTAINER-->
    <h2 class="container-fluid text-center statistics-category">YEARLY STATISTICS</h2>
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">SUCCESSFUL TOUR BOOKINGS THIS YEAR</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-green">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last year</span>
                </p>
            </div>
        </div>
    </div>
    <!--END OF STATISTICS CARD ELEMENT-->
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">UNSUCCESSFUL TOUR BOOKINGS THIS YEAR</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-danger">
                            <i class="fa fa-times-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last year</span>
                </p>
            </div>
        </div>
    </div>
    <!--END OF STATISTICS CARD ELEMENT-->
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">SUCCESSFUL TRANSFER BOOKINGS THIS YEAR</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-green">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last year</span>
                </p>
            </div>
        </div>
    </div>
    <!--END OF STATISTICS CARD ELEMENT-->
    <!--STATISTICS CARD ELEMENT-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">UNSUCCESSFUL TRANSFER BOOKINGS THIS YEAR</h5>
                        <span class="h2 font-weight-bold mb-0">0</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape text-danger">
                            <i class="fa fa-times-circle"></i>
                        </div>
                    </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 0.01%</span>
                    <span class="text-nowrap">Since last year</span>
                </p>
            </div>
        </div>
        <!--END OF STATISTICS CARD ELEMENT-->
    </div>
    <!--END OF YEARLY STATISTICS CARDS CONTAINER-->
</div>