@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <!-- Brand -->
        <!-- PROPERTY SELECTION DROPDOWN -->
        <div class="dropdown">
            <button type="button" class="btn btn-primary text-uppercase dropdown-toggle" data-toggle="dropdown">
                Select property
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Dubrovnik Tours</a>
                <a class="dropdown-item" href="#">Cable Car Dubrovnik</a>
            </div>
        </div>
        <!-- END OF PROPERTY SELECTION DROPDOWN -->
        <!-- Form - SEARCH INPUT -->
        @*<form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                </div>
            </form>*@
        <!-- End of SEARCH FORM -->
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li id="" class="text-white"><span class="mb-0 text-sm text-uppercase font-weight-bold"><a class="nav-link dropdown-selected d-inline-block" href="https://dubrovniktours.tours/en" target="_blank">Dubrovnik Tours</a></span></li>
            <li id="" class="text-white" style="display:none;"><span class="mb-0 text-sm text-uppercase font-weight-bold"><a class="nav-link dropdown-selected d-inline-block" href="https://cablecardubrovnik.com/en" target="_blank">Cable Car Dubrovnik</a></span></li>
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="Image placeholder" src="~/img/users/user.jpg">
                        </span>
                        <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm font-weight-bold">
                                @if (SignInManager.IsSignedIn(User))
                                {
                    @User.GetFullNameOrEmail() }
                else
                {
    <span>Anonymous User</span>}
                            </span>
                        </div>
                    </div>
                </a>
                <partial name="_Dropdown" />
            </li>
        </ul>
    </div>
</nav>