$hostingPath: '/';

$iconsPath: "#{$hostingPath}ico/";
$brandPath: "#{$hostingPath}brand/";

$imagesPath: "#{$hostingPath}img/";

$imagesLayoutPath: "#{$imagesPath}layout/";
$imagesAboutUsPath: "#{$imagesPath}about-us/";
$imagesContactUsPath: "#{$imagesPath}contact-us/";
$imagesCookiesPath: "#{$imagesPath}cookies/";
$imagesHomePath: "#{$imagesPath}home/";
$imagesMeetingPointPath: "#{$imagesPath}meeting-point/";
$imagesPrivacyPolicyPath: "#{$imagesPath}privacy-policy/";
$imagesPrivateToursPath: "#{$imagesPath}private-tours/";
$imagesScheduledToursPath: "#{$imagesPath}scheduled-tours/";
$imagesTransfersPath: "#{$imagesPath}transfers/";