$white: #FFFFFFFF;
$black: #000000;
$text-light: #999999;
$text-gray: #333333;
$text-dark: #1b1242;
$border: lightgray;
$primary: rgb(192, 54, 4);
$secondary: #2a1c69;
$secondary-hover: #3c269e;
$toggler-border: lightgray;
$navbar-bg: #000000;
$navbar-fc: #999999;
$navbar-menu-link-indicator: orangered;
$navbar-menu-active-link-fc: #ffffff;
$card-btn-bg: rgb(216, 60, 3);
$card-btn-fc: #ffffff;
$card-btn-hover-bg: rgb(192, 54, 4);
$card-btn-hover-fc: #ffffff;