@{
    ViewData["Title"] = "TransferStatistics";
}

<div class="dashboard-separator">
    <h1 class="dashboard-separator-title text-center">Transfer Statistics</h1>
</div>

<div class="container-fluid text-center">
    <i class="icon icon-shape fa fa-warning text-danger" style="transform:scale(3.0)"></i>
    <h1 class="text-danger">THIS SECTION IS UNDER DEVELOPMENT</h1>
</div>